.task{
    background: #f4f4f4;
    margin: 5px;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
   
}

.task.completed{
    border-left: 5px solid green;
    color: #000;
    background-color: rgba(136, 156, 116, 0.479);

}

.task h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task fa-icon{
    font-size: 20px;
    height: 10px;    
}